<body class="landing-body">
    <div class="container">
        <div class="row center">
            <h1 class="white-text">Sign Up</h1>
        </div>
        <div class="container">
         <% if flash[:error] %>
            <div class="row center">
                <span class="page-text red-text"><%= flash[:error] %></span>
            </div>
        <% end %>
            <%= render 'users/form' %>
        </div>
         <div class="row center">
            <%= link_to '/auth/google_oauth2', class: 'btn-large' do %>
                <i class="fab fa-google" style="margin-right: 10px;"></i> <b>Sign Up With Google</b>
            <% end %>
        </div>
        <div class="row center">
                <span class="white-text form-link">Already have an account?</span>
        </div>
        <div class="row center">
            <%= link_to 'Login', login_path, class: 'form-link' %>
        </div>
    </div>
</body>
