<body class="landing-body">
    <div class="container">
        <div class="row center">
            <%= image_tag "jitter_logo.png", class: "responsive-img"%>
            <h1 class="white-text">Sign Up To Use Jitter</h1>
        </div>
        <div class="container">
            <%= render 'form'%>
        </div>
    </div>
</body>