<body class="landing-body">
    <div class="container">
        <div class="row center">
            <%= image_tag "jitter_logo.png", class: "responsive-img landing-logo"%>
            <h1 class="white-text">Sign Up To Use Jitter</h1>
        </div>
        <div class="container">
         <% if flash[:error] %>
            <div class="row center">
                <span class="page-text red-text"><%= flash[:error] %></span>
            </div>
        <% end %>
            <%= render 'form'%>
        </div>
         <div class="row center">
            <%= link_to '/auth/google_oauth2', class: 'btn-large' do%>
                <i class="fab fa-google" style="margin-right: 10px;"></i> <b>Sign Up With Google</b>
            <% end %>
        </div>
    </div>
</body>