NGROK_HOST=
PUMA_DEV_HOST=jitter.prod
HOST=jitter.prod
FLIPPER_DECISION_WHEEL=true
FLIPPER_EARLY_ACCESS_PREVIEW=true
#FERRUM_INTERMITTENT_SLEEP: 0.2
#FERRUM_INTERMITTENT_ATTEMPTS: 12
#HOST=7f05-74-95-27-62.ngrok.io
SECRET_KEY_BASE=
RAILS_SERVE_STATIC_FILES=enabled
RAILS_ENV=production
RAILS_MASTER_KEY=
RAILS_LOG_TO_STDOUT=enabled
RACK_ENV=production
LANG=en_US.UTF-8
BUNDLE_WITHOUT='development:test'
BUNDLE_PATH=vendor/bundle
BUNDLE_BIN=vendor/bundle/bin
BUNDLE_DEPLOYMENT=1
NGROK_HOST=fff8-136-55-249-77.ngrok.io
DATABASE_URL=postgresql://temp@localhost/jitter_production
PUMADEV_SOURCE_ENV=.env.production
CONFIG=config/puma-dev.rb
PORT=3000
