<body class="landing-body">
    <div class="container">
        <div class="row center">
            <%= image_tag "jitter_logo.png", class: "responsive-img"%>
            <h1 class="white-text">Search by city to find your new favorite coffeeshop.</h1>
        </div>
            <%= render 'searches/form' %>
        
        </div>
      
    </div>
</body>
