<body class="landing-body">
    <div class="container">
        <div class="row center">
            <%= image_tag "jitter_logo.png", class: "responsive-img"%>
            <h1 class="white-text">Search by city to find your new favorite coffeeshop.</h1>
        </div>
        <div class="form-group">
          <%= form_tag coffeeshops_path, method: 'get' do%>
            <div class="row center search-bar">
                <%= text_field_tag 'query', nil, class: 'search-text', placeholder: 'Enter a city to search for coffeeshops (ex. Milwaukee)'%>
            </div>
            <br><br>
            <div class="row center">
                <%= submit_tag "Search", class: "btn-large" %>
            </div>
        <% end %>
        
        </div>
      
    </div>
</body>
