<body class="landing-body">
    <div class="container">
        <div class="row center">
            <h2 class="white-text">Save time by sharing your device location</h2>
        <% if flash[:error] %>
          <div>
            <p class="red-text"> <%= flash[:error] %> </p>
          </div>
        <% end %>
        </div>
            <%= render 'searches/form' %>
        
        </div>

    </div>
        <% if @search %> 
            
            <div class="search-results">
                <div class="row center">
                    <h1 class="white-text">Top Rated Searches for <%= @search.query %> near you!</h1>
                </div>
                <%= render partial: 'searches/results', locals: {search: @search} %>
            </div>
        <% end %>
</body>
