<div class="container">
    <div class="row center">
        <% @search.coffeeshops.each do |coffeeshop| %>
        <%= turbo_stream_from "coffeeshops" %>
        <%= turbo_frame_tag "coffeeshops" do %>
            <%= render partial: 'coffeeshops/coffeeshop', locals: {coffeeshop: coffeeshop} %>
        <% end %>
        <% end %>
    </div>
</div>