<body>
    <div class="container">
        <% if flash[:error] %>
            <div class="row center">
                <span class="page-text red-text"><%= flash[:error] %></span>
            </div>
        <% end %>

         <%= render 'searches/form', locals: { search: @search } if @search %>
    </div>

    <% if @search %>
        <div class="search-results">
            <%= render partial: 'searches/results', locals: {search: @search} %>
        </div>
    <% end %>

    </div>  <!-- end of container -->
</body>
