<div class="container">
    <div class="row center">
        <h1>Top Rated Coffeeshops in <%= @search.query %></h1>
    </div>
    <div class="row center">
        <% @search.coffeeshops.each do |coffeeshop| %>
                <%= render 'coffeeshops/coffeeshop', locals: {coffeeshop: coffeeshop} %>
        <% end %>
    </div>
</div>