// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-results {
  margin-top: 32px;

  @media (max-width: 640px) {
    margin-top: 16px;
  }
}

.results-heading {
  color: var(--color-text);
}
