
    <div class="row center">
        <span class="page-text"><i class="material-icons">person</i> <%= review.user.name %></span>
    </div>
    <div class="row center">
        <span class="page-text"><%= review.rating_in_stars %></span>
    </div>
    <div class="row center">
        <span class="page-text">"<%= review.content %>"</span>
    </div>