
    <div class="col l3 m6 s12">
        <div class="card large coffeeshop-card">
            <div class="card-image">
                 <%= image_tag coffeeshop.image_url, class: "card-img" %>
            </div>
            <div class="card-content">
                <span class="card-title"><%= coffeeshop.name %></span>
                <div class="row center">
                    <p> <i class="material-icons">place</i>   <%= coffeeshop.address %></p>
                </div>
                <div class="card-action">
                    <%= button_to "More Info", coffeeshop, class: "btn-large"%>
                </div>
            </div>
        </div>
    </div>
