<div class="container">
    <div class="row center">
        <h1>Top Rated Coffeeshops in <%= @search %></h1>
    </div>
    <div class="row center">
        <% @coffeeshops.each do |coffeeshop| %>
                <%= render coffeeshop, locals: {coffeeshop: coffeeshop} %>
        <% end %>
    </div>
</div>
