<body class="landing-body">
    <div class="container coffeeshop">
        <div class="row center">
            <h1 class="shop-name"><%= @coffeeshop.name %></h1>
        </div>
        <div class="row center">
            <div class="col s12 l6">
                <%= image_tag @coffeeshop.image_url, class: "card-img responsive-img  shop-image z-depth-2" %>
            </div>
            <div class="col s12 l6">
                  <p class="flow-text"><i class="material-icons">phone</i>     <%= @coffeeshop.phone_number %></p>
            </div>
            <div class="col s12 l6">
                  <i class="material-icons">add</i>
            </div>
            <div class="col s12 l6">
                  <i class="material-icons">add</i>
            </div>
            <div class="col s12 l6">
                  <i class="material-icons">add</i>
            </div>
            <div class="col s12 l6">
                  <i class="material-icons">add</i>
            </div>
        </div>
    </div>  
</body>
